<div class="login">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" 
      [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>

      <br/>
      <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <button mat-raised-button color="warn" onclick="btnClick()">Login</button>
    
    </mat-form-field>
    <mat-checkbox class="example-margin">Accept user agrement</mat-checkbox>
  </div>